p > code.hljs { display: inline; }
li > code.hljs { display: inline; }

a {
  color: eef;
}

a:visited {
  color: e7f;
}

code.hljs {
  padding: 2px;
}

h2 {
  background-color: #446;
  border-left-color: #abd;
  border-left-width: 0.5em;
  border-left-style: solid;
  padding-left: 0.5em;
}
.hidden {
  display: none;
}

.marker {
  background-color: #ffff5b;
}

.search-result-item {
  margin: 0.5em;
}

#login {
  text-align: right;
  color: white;
}

#sidebar {
  z-index: 1;
  background: #333 15%;
  overflow-x: hidden;
  padding: 8px 0;
  min-width: 16em;
}

#search-box {
  margin: 1em;
}

#recent-changes-box {
  background: #333 15%;
  margin-bottom: 1em;
  padding: 8px;
}

#search-pane {
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  width: 20em;
}

#sidebar ul {
  padding: 6px 8px 6px 16px;
}

#sidebar li {
    text-decoration: none;
    display: block;
}

#sidebar a {
  color: #2196F3;
}

#sidebar a:hover {
    color: #064579;
}

#container {
  flex-grow: 1;
  max-width: 70%;
}

body {
color: white;
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;  
}

#mainBlock {
  margin: 1em;
}

#historyTable {
  background: #333;
  margin: 1em;
}

article {
  background: rgba(51,51,51,0.8);
  min-height: 40em;
  padding: 2em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#diffBlock {
  background: #333 15%;
  padding: 2em;
  margin-top: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

textarea {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size: 1em;
  width:100%;
  heght: 80%;
}

code {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-edit {
  background-color: #4CAF50;
}

.button-history {
  background-color: #ABAB44;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

tr:nth-child(even) {background-color: #3f3f3f;}

.d2h-ins {
  background-color: #353;
}

.d2h-del {
  background-color: #533;
}

.d2h-diff-table {
  border-spacing: 0px;
}

#preview {
  background-color: #AF4C50;
}
