p > code.hljs { display: inline; }
li > code.hljs { display: inline; }

code.hljs {
  padding: 2px;
}

h2 {
  background-color: #d8edf6;
  border-left-color: #abd;
  border-left-width: 0.5em;
  border-left-style: solid;
  padding-left: 0.5em;
}
.hidden {
  display: none;
}

.marker {
  background-color: #ffff5b;
}

.search-result-item {
  margin: 0.5em;
}

#login {
  text-align: right;
  color: white;
}

#sidebar {
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  min-width: 16em;
}

#search-box {
  margin: 1em;
}

#recent-changes-box {
  background: #eee;
  margin-bottom: 1em;
  padding: 8px;
}

#search-pane {
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  width: 20em;
}

#sidebar ul {
  padding: 6px 8px 6px 16px;
}

#sidebar li {
    text-decoration: none;
    display: block;
}

#sidebar a {
  color: #2196F3;
}

#sidebar a:hover {
    color: #064579;
}

#container {
  flex-grow: 1;
  max-width: 70%;
}

body {
  background:
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

#mainBlock {
  margin: 1em;
}

#historyTable {
  background: white;
  margin: 1em;
}

article {
  background: white;
  min-height: 40em;
  padding: 2em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#diffBlock {
  background: white;
  padding: 2em;
  margin-top: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

textarea {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size: 1em;
  width:100%;
  heght: 80%;
}

code {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-edit {
  background-color: #4CAF50;
}

.button-history {
  background-color: #ABAB44;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.d2h-ins {
  background-color: c3ffc3;
}

.d2h-del {
  background-color: ffc3c3;
}

.d2h-diff-table {
  border-spacing: 0px;
}
